/* src/components/ServicesStyles.module.css */
.section {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.topSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto; /* Ensure the content is centered horizontally */
  display: flex; /* Add flex to center contents */
  flex-direction: column; /* Keep content vertically aligned */
  align-items: center; /* Center the content horizontally */
}

.imageContainer {
  width: 90%;
  border-radius: 20px; /* Rounded corners */
  overflow: hidden;
  transition: transform 0.3s ease; /* Smooth hover effect */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* Center the container itself */
}

.image {
  width: 80%;
  height: auto;
  object-fit: cover; /* Ensures the image covers the container */
  object-position: top; /* Crops the top of the image */
  border-radius: 30px; /* Rounded corners */
  border-width: 1px;
  margin-bottom: 30px;
}

.header {
  font-size: 40px;
  color: #333;
  margin-bottom: 50px;
}

.imageContainer:hover {
  transform: scale(1.05); /* Enlarge the container on hover */
}

.bulletedList {
  list-style-type: disc;
  padding-left: 0;
  margin: 20px;
  margin-top: 0px;
  padding: 10px;
}

.bulletedList li {
  list-style-type: none;
  margin-bottom: 30px;
}

.bottomContainer {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.bottomSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 700px) {
  .bottomContainer {
    flex-direction: column;
  }

  .bottomSection {
    width: 100%;
  }
}